body{
    background-color: #171717;
    color: #fff;
    font-family: "Ubuntu Mono", monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    min-height: 100%;
}
#form-req{
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    width: 400px;
    max-width: 90vw;
}
#url{
    font-family: "Ubuntu Mono", monospace;
    font-size: larger;
    font-weight: bolder;
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    color: #fff;
    
}